


    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h2 style="text-align:center">Productos</h2>
            </div>
        </div>
    </div>



<ul id="tabs" class="nav nav-tabs na" data-tabs="tabs">

    <li>@Html.ActionLink("Productos","Index","articuloes")</li>
    <li>@Html.ActionLink("Nuevo","Create","articuloes")</li>
    <li><a href="#" data-toggle="tab">Detalle</a></li>
    <li><a href="#" data-toggle="tab">Anexos</a></li>

</ul>
